@model TourManager.Models.BangGia


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">THÊM GIÁ TOUR</h6>
    </div>
    <div class="card-body">
        <form method="post" asp-action="Create">
            <div class="row">
                <div class="col-8">
                    <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="MaTour">Tour</label>
                            </div>
                            <div class="col-8">
                                <select asp-for="MaTour" asp-items="@(new SelectList(ViewBag.LayTour, "MaTour", "TenTour"))" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="GiaTour">Giá Tour</label>
                            </div>
                            <div class="col-8">
                                <input required type="number" asp-for="GiaTour" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Tgbd">Thời Gian Bắt Đầu</label>
                            </div>
                            <div class="col-8">
                                <input required type="date" asp-for="Tgbd" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Tgkt">Thời Gian Kết Thúc</label>
                            </div>
                            <div class="col-8">
                                <input required type="date" asp-for="Tgkt" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-8 offset-4 row">
                                <div class="col">
                                    <input type="submit" class="btn btn-success w-100" value="Thêm" />
                                </div>
                                <div class="col">
                                    <a asp-action="Index" class="btn btn-dark w-100"><i class="fas fa-sign-out-alt"></i>Trở lại</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </form>
    </div>
</div>

