@model TourManager.Models.ChiPhi

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">SỬA CHI PHÍ ĐOÀN</h6>
    </div>
    <div class="card-body">
        <form method="post">
            <input asp-for="MaCp" hidden />

            <div class="row">
                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="MaDoan">Đoàn</label>
                        </div>
                        <div class="col-8">
                            <select asp-for="MaDoan" asp-items="@(new SelectList(ViewBag.LayDoan, "MaDoan", "TenDoan"))" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="MaLoaiCp">Loại Chi Phí</label>
                        </div>
                        <div class="col-8">
                            <select asp-for="MaLoaiCp" asp-items="@(new SelectList(ViewBag.LayLoaiCp, "MaLoaiCp", "TenLoaiCp"))" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="GiaTien">Giá Tiền</label>
                        </div>
                        <div class="col-8">
                            <input required type="number" asp-for="GiaTien" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-8 offset-4 row">
                            <div class="col">
                                <input type="submit" class="btn btn-success w-100" value="Sửa" />
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-dark w-100"><i class="fas fa-sign-out-alt"></i>Trở lại</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

